.input{
    border: 1px solid rgb(122, 122, 122);
    padding: 0 18px;
    outline: none;
    margin-right:  20px;
    color: #191919;
    background-color: #ffffff;
    width: 80%;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
    height: 40px;
}